@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #10B981;
  --color-background: #F9FAFB;
  --color-card: #FFFFFF;
  --color-text-main: #111827;
  --color-subtext: #6B7280;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-text-main);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
